<nav class="navbar navbar-expand-xxl navbar-light">
  <div class="container">
    <div class="brand">
      <a class="navbar-brand" href="#"
        ><img src="../../assets/images/Group 368.svg" alt="logo"
      /></a>
    </div>
    <div class="right-side d-flex align-items-center justify-content-between">
      <form [formGroup]="searchForm" (submit)="onSubmit()">
        <button id="submit" type="submit">
          <img
            class="search"
            src="../../assets/images/search.svg"
            alt="search"
          />
        </button>
        <input type="text" id="search" [formControlName]="'search'" />
      </form>
      <a href="#"
        ><img
          class="profile"
          [src]="
            userLoggedIn.pp || '../../assets/images/profilePhotos/onur.png'
          "
          alt="profile-photo"
      /></a>
    </div>
  </div>
</nav>
